<mat-toolbar color="primary">
  <span>CMHelper - {{name}}</span>

  <span class="spacer"></span>
  <mat-checkbox [(ngModel)]="showFavourited">Избранные</mat-checkbox>
  <!-- <button mat-button (click)="toggleShowFavourited()"></button> -->
  <button mat-button (click)="showEditNameDialog()">Изменить никнейм</button>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="masteryList.length === 0"></mat-progress-bar>

<div class="cardContainer">
  <app-mastery-card 
    *ngFor="let mastery of (!showFavourited ? masteryList : favouritedMasteryList)"
    [name]="mastery.name"
    [championLevel]="mastery.championLevel"
    [chestGranted]="mastery.chestGranted"
    [championId]="mastery.championId"
    [imageURL]="mastery.imageURL"
    [tokensEarned]="mastery.tokensEarned">
  </app-mastery-card>
</div>