.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px 5px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.cardContainer.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-auto-rows: auto;
}

.searchBar {
    overflow: hidden;
}